<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMaybeOne">
          Upcoming Events - Next seven days
        </a>
      </h4>
    </div>
    <div id="collapseMaybeOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-striped">
		<tr class="my_row">
			<th>Event Id</th>
			<th>Event Name</th>
			<th>Interest</th>
			<th>Event Owner</th>
			<th>Date and time</th>
			<th>Actions</th>
			<th></th>
		</tr>
		<% @maybe_events.each do |attendant_event| %>
		<% if (attendant_event.event.start_date >= Date.current()) and (attendant_event.event.start_date < Date.current()+7)%>
			<tr>
				<td><%= attendant_event.event.id %></td>
				<td><%= link_to attendant_event.event.name, event_path(attendant_event.event) %></td>
				<td><%= attendant_event.event.interest.name %></td>
				<td><%=attendant_event.event.users.where('owner = 1').pluck(:first_name, :last_name).join(" ")%></td>
				<td><%= attendant_event.event.start_date.strftime('%a %b %d, %Y') %> <%= attendant_event.event.start_time.strftime('%H:%M %p') %></td>
				<td><%= button_to 'Join', invite_path(attendant_event, :status => 3, :format => :js), :remote => true, method: :patch, class: 'btn btn-small btn-success' %> </td>
				<td><%= button_to 'Not this time', invite_path(attendant_event, :status => 1, :format => :js), :remote => true, method: :patch, class: 'btn btn-small btn-primary' %> </td>
			</tr>
		<% end %>
		<% end %>
		</table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMaybeTwo">
          Future Events - Beyond next seven days
        </a>
      </h4>
    </div>
    <div id="collapseMaybeTwo" class="panel-collapse collapse in">
      <div class="panel-body">
        <table class="table table-striped">
		<tr class="my_row">
			<th>Event Id</th>
			<th>Event Name</th>
			<th>Interest</th>
			<th>Event Owner</th>
			<th>Date and time</th>
			<th>Actions</th>
			<th></th>
		</tr>
		<% @maybe_events.each do |attendant_event| %>
		<% if (attendant_event.event.start_date >= Date.current()+7)%>
			<tr>
				<td><%= attendant_event.event.id %></td>
				<td><%= link_to attendant_event.event.name, event_path(attendant_event.event) %></td>
				<td><%= attendant_event.event.interest.name %></td>
				<td><%=attendant_event.event.users.where('owner = 1').pluck(:first_name, :last_name).join(" ")%></td>
				<td><%= attendant_event.event.start_date.strftime('%a %b %d, %Y') %> <%= attendant_event.event.start_time.strftime('%H:%M %p') %></td>
				<td><%= button_to 'Join', invite_path(attendant_event, :status => 3, :format => :js), :remote => true, method: :patch, class: 'btn btn-small btn-success' %> </td>
				<td><%= button_to 'Not this time', invite_path(attendant_event, :status => 1, :format => :js), :remote => true, method: :patch, class: 'btn btn-small btn-primary' %> </td>
			</tr>
		<% end %>
		<% end %>
		</table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMaybeThree">
          Past Events
        </a>
      </h4>
    </div>
    <div id="collapseMaybeThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-striped">
		<tr class="my_row">
			<th>Event Id</th>
			<th>Event Name</th>
			<th>Interest</th>
			<th>Event Owner</th>
			<th>Date and time</th>
		</tr>
		<% @maybe_events.each do |attendant_event| %>
		<% if (attendant_event.event.start_date < Date.current()) %>
			<tr>
				<td><%= attendant_event.event.id %></td>
				<td><%= link_to attendant_event.event.name, event_path(attendant_event.event) %></td>
				<td><%= attendant_event.event.interest.name %></td>
				<td><%=attendant_event.event.users.where('owner = 1').pluck(:first_name, :last_name).join(" ")%></td>
				<td><%= attendant_event.event.start_date.strftime('%a %b %d, %Y') %> <%= attendant_event.event.start_time.strftime('%H:%M %p') %></td>
			</tr>
		<% end %>
		<% end %>
		</table>
      </div>
    </div>
  </div>
</div>