// $('.error_message').html('<div class="alert alert-success span12"><%= @notice %></div>');
$('#post_content').prepend('<div class="span10"><p class="post_heading">Posted on <%= @post.created_at.strftime('%A, %B %d, %Y at %H:%M %p') %> by <strong><%= @post.user.first_name %> <%= @post.user.last_name %>: </strong></p> <div class="well"><p><%= @post.content %></p></div></div>');
$('#new_post_input').val('');